@tailwind base;
@tailwind components;
@tailwind utilities;

#dis{
    position: relative;
    display: block;
    border: 2px;
    border-color: red;
    border-right: 200px;
    border-left: 200px;
}
.samet{
    font-size: 55px;
}